/bin
/Homework5/bin/Debug
/Homework5_2/bin/Debug
/Homework5_3/bin/Debug
/Homework5/obj/Debug
/Homework5_2/obj/Debug
/Homework5_3/obj/Debug
/Homework5_4/bin/Debug
/Homework5_4/obj/Debug
/Homework5_5/bin/Debug
/Homework5_5/obj/Debug
/.vs/Homeworks/v16
/Homework5/bin/Release
/Homework5/obj/Release
/Homework5_2
/Homework5_3
/Homework5_4
/Homework5_5
/Homework6/bin
/Homework6/obj
/Homework6/Properties
