/bin
/Homework5/bin/Debug
/Homework5_2/bin/Debug
/Homework5_3/bin/Debug
/Homework5/obj/Debug
/Homework5_2/obj/Debug
/Homework5_3/obj/Debug
/Homework5_4/bin/Debug
/Homework5_4/obj/Debug
/Homework5_5/bin/Debug
/Homework5_5/obj/Debug
